html {
  background-color: aqua;
}

/* NAV */
nav > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav > ul > li {
  padding: 0 1.2rem 0 1.2rem;
  font-family: Underdog;
}

.checkout-link {
  margin-left: auto;
}

/**************** HOME PAGE *******************/
.home-text {
  color: darkblue;
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.top-content > img {
  margin: 1rem 0 1rem 1.8rem;
  border: 3px solid darkblue;
}

.landing-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.landing-content > h2 {
  font-family: Underdog;
  margin: 2rem;
}

.landing-content > img {
  margin: 2rem;
  border: 3px solid darkblue;
}

.bubble-text {
  font-family: Underdog;
}

.speech-bubble {
  position: relative;
  background: yellow;
  border-radius: 0.4em;
  padding: 2rem;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-right-color: yellow;
  border-left: 0;
  border-top: 0;
  margin-top: -25px;
  margin-left: -50px;
}

/* ***********PRODUCTS PAGE************** */
li > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-img {
  border: 3px solid darkblue;
}

.fins-img {
  height: 160px;
  width: 308px;
  border: 3px solid darkblue;
}

.products-list {
  color: darkblue;
  padding-left: 1.2rem;
}
.product-btn {
  border: 3px solid darkblue;
  background-color: yellow;
  color: blue;
  border-radius: 4px;
  margin-left: auto;
  align-self: flex-end;
}

.product-title {
  color: darkblue;
  font-family: Underdog;
}

.products-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.products-content > ul {
  list-style-image: url('./images/dive-flag.png');
}

.price-text {
  text-align: right;
  font-weight: bolder;
}

.desc-text {
  font-style: italic;
}

.item-desc {
  margin-top: 0;
}

/* ************** CHECKOUT PAGE ********** */
.cart-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cart-content > ul {
  list-style-type: square;
}

.cart-item {
  color: darkblue;
  font-weight: bold;
}

.top-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-cart > h3 {
  margin: 0.1rem;
  font-family: Underdog;
  padding-left: 2rem;
  color: darkblue;
}

.purchase-btn {
  border: 3px solid darkblue;
  background-color: yellow;
  color: blue;
  border-radius: 4px;
}
